@define-color background        #1e1f28;
@define-color background-hover  #2a2a37;
@define-color border            #363646;
@define-color muted             #626279;
@define-color foreground        #dcd7ba;
@define-color accent            #c0a36e;
@define-color accent-active     #e6c384;
