@define-color background        #333c43;
@define-color background-hover  #3a464c;
@define-color border            #4d5960;
@define-color muted             #859289;
@define-color foreground        #d3c6aa;
@define-color accent            #a7c080;
@define-color accent-active     #83c092;
