
@define-color background         #002b36;
@define-color foreground         #efe8d5;

@define-color border             #374c43;
@define-color urgent             #dc322f;
@define-color muted              #455f53;

@define-color accent             #2aa198;
@define-color accent-active      #27eee0;

