/**
 * @name system24 for Vibranium
 * @description a tui-style discord theme.
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/system24
 * @source https://github.com/refact0r/system24/blob/master/theme/system24.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

@import url('https://refact0r.github.io/system24/build/system24.css');

/* Vibranium customs */
body {
	--font:             'Cascadia Code' !important;
	--code-font:        'Cascadia Code' !important;
	letter-spacing:     0ch !important;
	--border-thickness: 3px !important;
}

:root {
    --colors: on;

    --text-0: #dcd7ba;
    --text-1: #c6c1a7;
    --text-2: #b0ab95;
    --text-3: #9b9783;
    --text-4: #c0b993;
    --text-5: var(--text-4);

    /* background and dark colors */
    --bg-1: #54546d;
    --bg-2: #363646;
    --bg-3: #2a2a37;
    --bg-4: #1f1f28;
    --hover: var(--bg-2);
    --active: var(--bg-1);
    --active-2: var(--bg-3);
    --message-hover: var(--hover);

    /* accent colors */
    --accent-1: #363646;
    --accent-2: #969174;
    --accent-3: #363646;
    --accent-4: #54546d;
    --accent-5: #363646;
    --accent-new: var(--red-2);
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent);
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent);
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);

    /* status indicator colors */
    --online: var(--green-2);
    --dnd: var(--red-2);
    --idle: var(--yellow-2);
    --streaming: var(--purple-2);
    --offline: var(--text-4);

    /* border colors */
    --border-light: var(--hover);
    --border: var(--active);
    --border-hover: var(--accent-2);
    --button-border: hsl(220, 0%, 100%, 0.1);

    /* base colors */
    --red-1: #c34043;
    --red-2: #c34043;
    --red-3: #c34043;
    --red-4: #e82424;
    --red-5: #e82424;

    --green-1: #76946a;
    --green-2: #76946a;
    --green-3: #76946a;
    --green-4: #98bb6c;
    --green-5: #98bb6c;

    --blue-1: #7e9cd8;
    --blue-2: #7e9cd8;
    --blue-3: #7e9cd8;
    --blue-4: #7fb4ca;
    --blue-5: #7fb4ca;

    --yellow-1: #c0a36e;
    --yellow-2: #c0a36e;
    --yellow-3: #c0a36e;
    --yellow-4: #e6c384;
    --yellow-5: #e6c384;

    --purple-1: #957fb8;
    --purple-2: #957fb8;
    --purple-3: #957fb8;
    --purple-4: #938aa9;
    --purple-5: #938aa9;
}

.vc-shiki-root {
	background-color: var(--bg-3) !important;
	border: 1px solid var(--bg-1) !important
}
