@define-color background        #2d353b;
@define-color background-hover  #343f44;
@define-color border            #475258;
@define-color muted             #7a8478;
@define-color foreground        #d3c6aa;
@define-color accent            #a7c080;
@define-color accent-active     #83c092;
