/**
 * @name system24 for Vibranium
 * @description a tui-style discord theme.
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/system24
 * @source https://github.com/refact0r/system24/blob/master/theme/system24.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

@import url('https://refact0r.github.io/system24/build/system24.css');

/* Vibranium customs */
body {
	--font:             'Cascadia Code' !important;
	--code-font:        'Cascadia Code' !important;
	letter-spacing:     0ch !important;
	--border-thickness: 3px !important;
}

:root {
    --colors: on;

    --text-0: #dcd7ba;
    --text-1: #c6c1a7;
    --text-2: #b0ab95;
    --text-3: #9b9783;
    --text-4: #c0b993;
    --text-5: var(--text-4);

    /* background and dark colors */
    --bg-1: #625e5a;
    --bg-2: #393836;
    --bg-3: #282727;
    --bg-4: #181616;
    --hover: var(--bg-2);
    --active: var(--bg-1);
    --active-2: var(--bg-3);
    --message-hover: var(--hover);

    /* accent colors */
    --accent-1: #393836;
    --accent-2: #9e9b93;
    --accent-3: #393836;
    --accent-4: #625e5a;
    --accent-5: #393836;
    --accent-new: var(--red-2);
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent);
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent);
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);

    /* status indicator colors */
    --online: var(--green-2);
    --dnd: var(--red-2);
    --idle: var(--yellow-2);
    --streaming: var(--purple-2);
    --offline: var(--text-4);

    /* border colors */
    --border-light: var(--hover);
    --border: var(--active);
    --border-hover: var(--accent-2);
    --button-border: hsl(220, 0%, 100%, 0.1);

    /* base colors */
    --red-1: #c4746e;
    --red-2: #c4746e;
    --red-3: #c4746e;
    --red-4: #b5514a;
    --red-5: #b5514a;

    --green-1: #87a987;
    --green-2: #87a987;
    --green-3: #87a987;
    --green-4: #a0bba0;
    --green-5: #a0bba0;

    --blue-1: #658594;
    --blue-2: #658594;
    --blue-3: #658594;
    --blue-4: #8ba4b0;
    --blue-5: #8ba4b0;

    --yellow-1: #c4b28a;
    --yellow-2: #c4b28a;
    --yellow-3: #c4b28a;
    --yellow-4: #d8cbb1;
    --yellow-5: #d8cbb1;

    --purple-1: #a292a3;
    --purple-2: #a292a3;
    --purple-3: #a292a3;
    --purple-4: #b3a7b4;
    --purple-5: #b3a7b4;
}

.vc-shiki-root {
	background-color: var(--bg-3) !important;
	border: 1px solid var(--bg-1) !important
}
