
@define-color background         #181616;
@define-color foreground         #dcd7ba;

@define-color border             #393836;
@define-color urgent             #c4746e;
@define-color muted              #625e5a;

@define-color accent             #c4b28a;
@define-color accent-active      #d8cbb1;

