@define-color background        #1d1c19;
@define-color background-hover  #181616;
@define-color border            #393836;
@define-color muted             #625e5a;
@define-color foreground        #dcd7ba;
@define-color accent            #c4b28a;
@define-color accent-active     #d8cbb1;
